a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  .site-branding {
    grid-column: 1/3;
    .site-title{
      font-size: 3em;
      margin:0;
      padding-top: 1em;
      padding-bottom: 1em;
      text-transform: uppercase;
      font-weight:bold;
      a {
        color: red;
      }
    }
  }
  .map {
    li {
      line-height: 2em;
      a {color: black;}
    }
  }
  .access {
    li {
      line-height: 2em;
      a {color: red;}
    }
  }
  .search {
    margin-top: 1em;
    grid-column: 1/3;
  }
  #site-navigation{

      grid-column: 1/3;
      display: flex;
      justify-content: center;
      background-color: grey;

      .menu-top-menu-container{
          width: 100%
      }

      button{
          display: none;
      }
      #primary-menu{

          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .menu-item{
              background-color: grey;
              padding: 0.2rem;
              a{
                  color: white;

              }

          }
      }
  }
}



.site-header::before{
  display: none;
}
.site-header::after{
  display: none;
}


@media screen and (min-width: 500px) and (max-width: 1000px) {header{
    #site-navigation{
        #primary-menu{

            display: flex;
            flex-direction: row;
        }
    }
}
}

@media screen and (min-width: 1000px) {

header{
    margin: auto 15% ;
    grid-template-columns: 4fr 1fr 2fr;
    .site-branding {
      grid-column: 1/2;
      grid-row: 1/3;
      .site-title{
          padding: 0;
          font-size: 6rem;
      }
  }
  .map {
      grid-column: 2/3;
      font-size: 0.7rem;



  }
  .access {
      grid-column: 3/4;
      font-size: 0.7rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
  }
  .search {
    grid-column: 3/4;
  }
  #site-navigation{
      grid-column: 1/4;
      #primary-menu{

          display: flex;
          flex-direction: row;
      }
  }

}


}
